@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">


    <h1>Pinterest</h1>
    <div ng-controller="pinController">
        <form>
            <input type="text" placeholder="Type Url" ng-model="pin.Url" />
            <input type="text" placeholder="Image" ng-model="pin.imagepath" />
            <input type="submit" value="Submit" ng-click="uploadPin(pin)" />
        </form>
            <div ng-repeat="p in pinterest">
                <div><a href={{p.Url}} ng-src= {{p.ImagePath}} /></div>
               
            </div>
        </div>
    </div>

    @section scripts
    {


        var app = angular.module("pinterestApp", [])
        app.controller('pinController', function ($scope){
        $scope.pinterest = [];

        });




    }
